<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModuleClasses</key>
	<array>
		<string>TestModule</string>
	</array>
	<key>ServicesTable</key>
	<dict>
		<key>TestModuleService1</key>
		<string>TestModuleService1Imp</string>
	</dict>
	<key>RouterClasses</key>
	<array>
		<string>TestRouter</string>
	</array>
</dict>
</plist>
